<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index_nodata.css') }}">
</head>
<body>
    <h1>Proj nimi</h1>

    <div class="container">
        <div class="buttons">
            <button class="btn" id="button1">Button 1</button>
            <button class="btn" id="button2">Button 2</button>
            <button class="btn" id="button3">Button 3</button>
            <button class="btn" id="button4">Eye Tracking</button>
            <button class="btn" id="button5">Button 5</button>
        </div>
        <div class="item" id="info">
            INFO
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>